{% extends "base.html" %}
{% load static %}
{% block content %}
{% if not cart_items %}
    <div xmlns="http://www.w3.org/1999/html">
        <div class="text-center">
            <h1 class="text-center my_title">
                카트가 비었습니다
            </h1>
            <p class="text-center">
                쇼핑계속하기 <a href="{% url 'product:list' %}">클릭 </a>
            </p>
        </div>
    </div>
{% else %}
    <div>
        <div class="text_center">
            <br>
            <h1 class="text-center my_title">
                Your shopping cart.
            </h1>
            <br>
        </div>
    </div>

    <form class="row mx-auto" action="" method="Post">
    {% csrf_token %}
    {{ form }}
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center" >
            <table class="table my_custom_table" >
                <thead  class="my_custom_thread">
                    <tr>
                        <th colspan="5" style="border-bottom-color: inherit; border-bottom-width:initial;">
                            Your items
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for cart_item in cart_items %}

                    <tr>
                        <td>
                            <input type="checkbox" name="check">
                            <a href="{{ cart_item.game.get_absolute_url }}">
                                <a href="{% url 'product:detail' cart_item.game.id %}">
                                    <img src="{{ cart_item.game.main_image.url }}" alt="" class=" rounded custom_image">
                                </a>
                            </a>
                        </td>
                        <td class="text-left">
                            {{ cart_item.game.title }}
                            <br>
                            sku: {{ cart_item.game.id }}
                            <br>
                            Price: ${{ cart_item.game.price }}
                            <br>
                            Qty: {{ cart_item.quantity }} x ${{ cart_item.game.price }}
                        </td>
                        <td>
                            ${{ cart_item.sub_total }}
                        </td>
                        {% if cart_item.quantity <= cart_item.game.stock %}
                         <td>
                            <a href="{% url 'cart:add_cart' cart_item.game.id %}" class="custom_a"  >
                                <i class="custom_icon fas fa-plus-square "></i>
                            </a>&nbsp;
                            <a href="{% url 'cart:remove_cart' cart_item.game.id %}" class="custom_a"><i class="custom_icon fas fa-minus-square "></i></a>
                                <br>
                            <a href="{% url 'cart:remove_full' cart_item.game.id %}" class="custom_a "><i class="custom_icon fas fa-trash-alt "></i></a>
                         </td>
                        {% else %}
                         <td>
                             <a href="{% url 'cart:remove_cart' cart_item.game.id %}" class="custom_a"><i class="fas fa-minus-square custom_icon"></i></a>&nbsp;
                             <a href="{% url 'cart:remove_full' cart_item.game.id %}" class="custom_a"><i class="fas fa-trash-alt custom_icon"></i></a>
                         </td>
                            <td></td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thead class="my_custom_thread">
                    <tr>
                        <th style="border-bottom-color: inherit; border-bottom-width:initial;">
                            Checkout
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            payment
                            <br>
                            point: ${{ user.point }}
                        </td>
                    </tr>
                <tr>
                    <td class="text-left">
                        total : <strong>${{ total }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="max-auto">
                <a href="{% url 'product:list' %}" class="btn btn-secondary btn-block my_custom_button">
                    Continue Shopping
                </a>
                <button type="submit"  class="btn btn-success btn-block my_custom_button" data-bs-toggle="modal" value="Submit"
                {% if total > user.point %}  data-bs-target="#nopointcart"
                    {% else %} data-bs-target="#checkoutcart"
                    {% endif %}>
                        submit
                </button>

            </div>
        </div>
    </form>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center" >
            <table class="table my_custom_table" >
                <thead  class="my_custom_thread">
                    <tr>
                        <th colspan="5" style="border-bottom-color: inherit; border-bottom-width:initial;">
                            Your items
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart_item in checkout %}
                    <tr>
                        <td>
                            <a href="{{ cart_item.game.get_absolute_url }}">
                                <a href="{% url 'product:detail' cart_item.game.id %}">
                                    <img src="{{ cart_item.game.main_image.url }}" alt="" class=" rounded custom_image">
                                </a>
                            </a>
                        </td>
                        <td class="text-left">
                            {{ cart_item.game.title }}
                            <br>
                            sku: {{ cart_item.game.id }}
                            <br>
                            Price: ${{ cart_item.game.price }}
                            <br>
                            Qty: {{ cart_item.quantity }} x ${{ cart_item.game.price }}
                        </td>
                        <td>
                            ${{ cart_item.sub_total }}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
{% endif %}
<script>

</script>
{% endblock %}